<template name="header">
    <nav class="ka-header navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-3 dropdown navbar-icon-dropdown-container">
                    <i class="fa fa-2x fa-bars dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false"></i>

                    <ul class="dropdown-menu pull-left dm-left" aria-labelledby="dropdownMenu1">
                        <li><a href="#">Something else here</a>
                        </li>
                        <li><a href="#">Separated link</a>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-6 title-container">
                    {{getRouteTitle}}
                </div>
                <div class="col-xs-3 dropdown navbar-icon-dropdown-container">
                    <i class="fa fa-2x fa-plus dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false"></i>

                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a href="#">Something else here</a>
                        </li>
                        <li><a href="#">Separated link</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </nav>
</template>
